
* {
	box-sizing: border-box;
}


meter {
    /* Reset the default appearance */
    width: 100%;
    height: .5em;
    margin: 0 auto 5px;
    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
    &::-webkit-meter-bar {
      background: none;
      background-color: rgba(0, 0, 0, 0.1);
    }
    &[value="1"]::-webkit-meter-optimum-value {
      background: red;
    }
    &[value="2"]::-webkit-meter-optimum-value {
      background: yellow;
    }
    &[value="3"]::-webkit-meter-optimum-value {
      background: orange;
    }
    &[value="4"]::-webkit-meter-optimum-value {
      background: green;
    }
    &[value="1"]::-moz-meter-bar {
      background: red;
    }
    &[value="2"]::-moz-meter-bar {
      background: yellow;
    }
    &[value="3"]::-moz-meter-bar {
      background: orange;
    }
    &[value="4"]::-moz-meter-bar {
      background: green;
    }
  }

  #password-strength-text {
    padding: 0;
    margin-top: -5px;
    margin-bottom: 10px;
  }

  /* for passsword showhide */
  .hideShowPassword-wrapper {
    margin: 0 !important;
    width: 100% !important;
    input {
      width:100%;
    }
  }
  .hideShowPassword-toggle {
    background-color: transparent;
    background-image: url('../vendors/wink.png');
    /* fallback */
    background-image: url('../vendors/wink.svg'), none;
    background-position: 0 center;
    background-repeat: no-repeat;
    border: 2px solid transparent;
    border-radius: 0.25em;
    cursor: pointer;
    font-size: 100%;
    height: 44px;
    margin: 0;
    max-height: 100%;
    padding: 0;
    overflow: 'hidden';
    text-indent: -999em;
    width: 46px;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin-top: -16px !important;
  }
  
  .hideShowPassword-toggle-hide {
    background-position: -44px center;
  }
  

  /* Styles for verification */

#pswd_info {
  position: absolute;
  text-align: left;
  left: 20%;
  padding: 15px;
  background: #fefefe;
  font-size: .875em;
  box-shadow: 0 1px 3px #ccc;
  display: none;
  margin-top: 6px;
  z-index: 3;
  &::before {
    content: "\25B2";
    position: absolute;
    top: -12px;
    left: 45%;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    text-shadow: 0px -1px 1px #ccc;
    display: block;
  }
  h4 {
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: normal;
  }
  li {
    padding-left: 22px;
  }
  .invalid {
    color: #ec3f41;
  }
  
  .valid {
    color: #3a7d34;
    &::before {
      content: "\002713";
    }
  }
}

