div.uk-grid.data-uk-grid-margin
    div.uk-width-medium-1-3
        include calendar.pug
    div.uk-width-medium-2-3
        div.uk-article.uk-grid
            div.uk-width-2-6
                img(src="http://placehold.it/250x200")
            div.uk-width-4-6
                h1.uk-h3
                    a(href="#") Event title 
                    span.uk-badge.uk-badge-success Year 5
                p.uk-article-meta 12 April 2017 - 13 April 2017
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod laboris nisi ut aliquip ex ea commodo consequat.
                a(href="#") Details...
                    
                