mixin quicklinks(mobile)
  if mobile
      li
        a Make a payment
      li
        a Calendar
      li
        a Image gallery
      li
        a Contact us
  else
    ul.uk-subnav.uk-subnav-pill.uk-flex.uk-flex-space-between.uk-hidden-small.uk-margin-bottom-remove.sws-quicklinks
      li
        a Make a payment
      li
        a Calendar
      li
        a Image gallery
      li
        a Contact us

