mixin section-header

   section.sws-header.uk-block-muted(role="banner")
      div.uk-container.uk-container-center
        div.uk-grid.school-brand.uk-row-first
            div.uk-width-medium-1-10.uk-width-small-1-1
              img(src="http://www.lillipilli-p.schools.nsw.edu.au/cmsresources/images/logo_large_m.jpg")
            div.uk-width-medium-6-10
              h1.school-name Lilli Pilli Public School
              p Working Together To Achieve Success
            div.uk-width-medium-3-10.uk-width-small-1-1.uk-flex.uk-flex-column.uk-flex-center
              p.address 28 - 32 Lilli Pilli Pt Rd Lilli Pilli 2229
