article.uk-article

  h1
    +lipsum(3, "words")

  figure.uk-thumbnail.uk-thumbnail-medium.uk-align-medium-right
    img(src="https://unsplash.it/500/400/?random", alt="Sample image")
    figcaption.uk-thumbnail-caption
      +lipsum(1, "sentences")

  p.uk-article-lead
    +lipsum(6, "sentences")

  h2
    +lipsum(3, "words")
  p
    +lipsum(6, "sentences")

  h2
    +lipsum(3, "words")
  p
    +lipsum(10, "sentences")

  ul
    li
      +lipsum(2, "words")
    li
      +lipsum(2, "words")
    li
      +lipsum(2, "words")

  p
    +lipsum(6, "sentences")

  ol
    li
      +lipsum(2, "words")
    li
      +lipsum(2, "words")
    li
      +lipsum(2, "words")


  h2
    +lipsum(4, "words")

  p
    +lipsum(3, "sentences")

  div.uk-overflow-container
    table.uk-table.uk-table-striped.uk-table-hover
      caption
        +lipsum(1, "sentences")
      thead
        tr
          th
            +lipsum(2, "words")
          th
            +lipsum(2, "words")
        tfoot
          tr
            td
              +lipsum(2, "words")
            td
              +lipsum(2, "words")
        tbody
          tr
            td
              +lipsum(2, "words")
            td
              +lipsum(2, "words")
          tr
            td
              +lipsum(2, "words")
            td
              +lipsum(2, "words")

          tr
            td
              +lipsum(2, "words")
            td
              +lipsum(2, "words")

  p
    +lipsum(3, "sentences")

  blockquote
    +lipsum(3, "sentences")

  p
    +lipsum(3, "sentences")
