include _variables.pug
include mixin-lorem-ipsum.pug
include mixin-list-item.pug
include mixin-random-icon.pug

//--- COMPONENTS
//--------------------------------------------------------
include components/_global-corporate-logo.pug
include components/_global-header.pug
include components/_global-footer.pug
include components/hero.pug
include components/horizontal-nav.pug
include components/vertical-nav.pug
include components/breadcrumbs.pug
include components/calendar.pug
include components/events.pug
include components/event.pug
include components/gallery.pug
include components/quicklinks.pug
include components/social-profile.pug
include components/albums.pug
include components/_global-nav-mobile.pug
include components/utility-bar.pug
include components/section-header.pug
