//--- INCLUDES
//---------------------------------------------------------

include ../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Index"

//--- HTML
//---------------------------------------------------------

doctype html
html(lang="en")

  include ../pug/components/_global-head.pug

  body

    div.uk-container.uk-container-center

      h1 SWS Lean UX prototype

      ul
        li
          a(href="homepage.html") Homepage
        li
          a(href="standard.html") Standard
